 .card {
     background-color: #fff
 }

 .card,
 .card-header {
     background-color: #fff;
     border-color: #fff
 }

 h5.mb-0.txt-muletta-gris {
     text-transform: uppercase;
     font-weight: 600;
     font-family: 'Nunito', sans-serif !important;
     letter-spacing: .05rem
 }

 .card-body {
     font-family: 'Nunito', sans-serif !important;
     color: #9c9b9b;
     letter-spacing: .05rem
 }

 .product-content.text-center {
     margin: 0 auto
 }

 #shortcode14 nav {
     background: #fff
 }

 svg.svg-inline--fa.fa-chevron-left.fa-w-10.u-line-icon-pro {
     margin-top: 25px
 }

 svg.svg-inline--fa.fa-chevron-right.fa-w-10.u-line-icon-pro {
     margin-top: 25px
 }

 .height-550 {
     height: 550px
 }

 div#megamenu-mujer {
     margin-top: 50px
 }

 div#megamenu-hombre {
     margin-top: 50px
 }

 div#outlet-overlay-nav {
     padding-top: 22px
 }

 li.list-inline-item.g-mr-5 {
     padding-left: 3.9%
 }

 div#sidebar-cat button.accordion {
     background-color: #fff;
     color: #6c757d;
     padding: 10px;
     letter-spacing: .03em;
     text-transform: uppercase
 }

 div#sidebar-cat .panel {
     background-color: #fff
 }

 div#sidebar-cat div.panel li {
     padding-top: 10px
 }

 div#sidebar-cat h5 {
     font-size: 14px;
     padding-top: 10px;
     text-transform: uppercase;
     font-weight: 600
 }

 div#sidebar-cat ul {
     padding-left: 0
 }

 .loader {
     left: 46% !important;
     top: auto !important;
     bottom: 0
 }

 .scrollbar {
     height: 60em;
     overflow-y: scroll
 }

 .existe-talla{
     /*font-weight: bold !important;*/
     color: #6f6f6e !important;
     font-weight: bold !important;
 }

 .no-existe-talla{
     color: #c3c3c3 !important;
     text-decoration:line-through;
 }

 .categoriaSecundaria{
    width: 9px !important; 
    white-space: nowrap;
 }

 @media (max-width: 1111px){
    /*#sector_categorias{
        width: 63%;
    }*/
 }

 @media (max-width:866px) {
     .g-hidden-md-down-v2 {
         display: none !important
     }
     #sector_categorias{
        display: none !important
     }

     .categoriaPrincipal{
        display: none !important
     }

     #filtro-movil{
         display: block !important
     }

     #navegacion_categorias{
        display: block !important;
     }

     div.main_custom {
         /*margin-left: 0 !important;*/
         margin-left: 3%;
         margin-right: 3%;
         padding: 0 10px !important
     }

     div#sidebar{
        grid-column: 2/3 !important;
        padding-top: 0px !important;
     }
 }

 @media (max-width:325px){
    #navegacion_categorias{
        font-size: 13px;
     }
 }

 div#sidebar {
     height: 100%;
     width: 100%;
     padding-top: 12px;
     /*padding-left: 9%;*/
     /*position: fixed !important;*/
     grid-column: 1/3;
     z-index: 9;
     top: 21vh;
     left: 0;
     overflow-x: hidden;
     /*padding-top: 8em;*/
     /*margin-left: 2em;*/
     /*border-top: 1px solid #eee;*/
     
 }

 div.main_custom {
     /*margin-left: 225px;*/
     padding: 0 10px;;
     margin-left: 8%;
     margin-right: 8%;

 }

 .alinear{
     width: auto;
     display: inline-block;
 }

 .indicador_Categoria{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
 }

 div#sidebar.margin-top.g-hidden-md-down-v2 button.accordion {
     background-color: #fff
 }

 div#sidebar button.accordion.active {}

 div#sidebar ul li a {
     padding-left: 10px
 }

 i.fa.fa-circle {
     vertical-align: middle
 }

 button#search-btn {
     max-width: 100%
 }

 input.form-control.rounded-0.form-control-md {
     border-top-color: #fff;
     border-left-color: #fff;
     border-right-color: #fff;
     border-bottom: 3px solid #eaeaea
 }

 #search-view .form-inline .custom-select,
 .form-inline .input-group {
     width: 100%
 }

/* DESCUENTOS */
.offer-desc{
    /*background-color: #091b34;*/
    background-color: #BE1D2C;
    position: absolute;
    right: 0.5em;
    /*top: 2em;*/
    z-index: 8;
    color: white;
    /*border-radius: 100%;*/
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
}

.texto-oferta-verde{
    font-size: 1.3em;
    font-weight: bolder;
}