.g-brd-bottom {
    border-bottom: solid #ddd 3px!important;
}
.form-control, .form-control:focus {
    font-size: 16px;
    color: #9c9b9b;
    border-color: #fff;
    border-bottom: 2px solid #9c9b9b;
    width: 100%;
}
div#accordionExample {
    padding: 0px;
}
.card {
    padding: 0px;
}
.card-body {
    
    background-color: #f7f7f7;
    
}
#paypal-button-container {
    max-width: 300px;
    margin: 10px auto;
}
.paypal-button .paypal-button-card {
   
    max-width: 60px;
    
}
div#accordionExample {
    border-top: solid #999 2px;
    border-right: solid #999 2px;
    border-left: solid #999 2px;
}
.card-header {
    border-bottom: solid 2px #999;
}
.card-body {
    border-bottom: 2px solid #999;
}
div#collapseOne {
    border-bottom-width: 0px;
}
.card-body {
    min-height: 150px;
}
button.btn.u-btn-primary.g-font-size-13.text-uppercase.g-px-40.g-py-15.float-right {
    margin-top: 20px;
}
span.d-block.u-check-icon-checkbox-v4.g-absolute-centered--y.g-left-0 {
    border-radius: 50%;
}

select#direcciones {
    max-width: 280px;
}


.swal2-styled.swal2-confirm {
   
    border-radius: 0;
   
}

button#procesar {
    letter-spacing: 1px;
}
a.btn.u-btn-primary.g-font-size-13.text-uppercase.g-px-40.g-py-15.g-bg-black--hover.g-brd-black--hover.float-right {
    letter-spacing: 1px;
}
button#btnSecondStep {
    letter-spacing: 1px;
}
button#btn_nuevo {
    letter-spacing: 1px;
}

div#resumen-checkout-envio {
    padding-top: 40px;
    opacity: 1;
}
.u-btn-secondary {
    background-color: #f2f2f2a8;
    color: #2125299c;
}
.u-btn-secondary:hover, .u-btn-secondary.active {
    border-color: #212529;
    background-color: #f2f2f2f2;
    background: #f2f2f2f2!important;
    color: #212529;
}
code {
    font-size: 100%;
    color: #9c9b9b;
    word-wrap: break-word;
}

.muletta-gear-bg{
    background-image: url(https://muletta.com/assets/global/img/logo/logotipo_hierro_muletta-fondo-card.png);
    background-repeat: no-repeat;
    background-position: right;
    background-origin: initial;
}

.no-border {
    border-bottom: none!important;
    
}

.disabled{
    background-color: #ddd;
    cursor: not-allowed;
}

.pago_seguro{
    width: 15em;
    margin-top: -8em;
    margin-bottom: -5em;
}
.header_method{
    display: table;
}
.title_method{
    display: table-cell;
    vertical-align: middle;
}
.img_stripe{
    width: 5em;
    float: right;
}
.img_openpay{
    width:95%;
    float: right;
}
.img_mercadopago{
    width: 5em;
    float: right;
    margin-right: -1em;
}
.img_pago_seguro{
    width: 3em;
    height: 3em;
    vertical-align: middle;
}
.img_whatsapp{
    width: 2em;
    height: 2em;
    vertical-align: middle;
}

.header_method{
    display: flex;
    align-items: center;
}

.header-whats{
    width: 21%;
    text-align: center;
    font-weight: bold;
    margin-left: 26px;
}

.cuadros_direcciones{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-gap: 11px;
}
/*
--------------------------------------------------------------------
EMPIEZA ARCHIVOS
--------------------------------------------------------------------
*/
.inputfile {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: white;
    display: inline-block;
    background-image: url(../../img/compras/transferencia/archivo.webp);
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: rgb(187, 187, 187);
}

.btnTomarFotos{
    border: none;
    background-color: white;
}
/*
--------------------------------------------------------------------
TERMINA ARCHIVOS
--------------------------------------------------------------------
*/

/*
--------------------------------------------------------------------
RESPONSIVE
--------------------------------------------------------------------
*/


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
    /* CSS */
}


/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}


/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    /* CSS */
}


/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /* CSS */
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 768px) {
    /* CSS */
    .header_method{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-whats{
        width: 34%;
    }
    .cuadros_direcciones{
        grid-template-columns: 100% !important;
    }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
    h4.g-font-size-16.text-uppercase.mb-0 {
        font-size: 12px!important;
    }
    .container.g-pt-100.g-pb-70 {
        padding-top: 2.14286rem!important;
    }
    .g-mb-100 {
        margin-bottom: 3.14286rem!important;
    }
}

@media (max-width: 480px) {
    .header_method{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header-whats{
        width: 100%;
    }
    .cuadros_direcciones{
        grid-template-columns: 100% !important;
    }
}