.grid_countdown{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "slogan fecha mensaje";
    grid-template-rows: auto;
    grid-gap: 20px;
    padding: 10px;
}

.grid_slogan{
    grid-area: slogan;
    justify-self: center;
}

.grid_fecha{
    grid-area: fecha;
    /* justify-self: center; */
    margin-left: 11rem;
}

.grid_mensaje{
    grid-area: mensaje;
    justify-self: center;
}

.grid_fecha_countdown{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "dias horas minutos segundos";
    grid-template-rows: auto;
    grid-gap: 25px;
}

#yith-topbar-countdown.topbar-countdown-container {
    background-color: #e00f23;
    padding-bottom: 16px;
}

#yith-topbar-countdown {
    position: sticky;
    height: auto;
    width: 100%;
    z-index: 899;
}

#yith-topbar-countdown .custom_row {
    width: 100%;
}

#yith-topbar-countdown .countdown_slogan {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    font-style: normal;
}

#yith-topbar-countdown .countdown_slogan {
    padding-right: 0px
}

#yith-topbar-countdown .countdown_information .countdown-label {
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    font-style: normal;
}

#yith-topbar-countdown .countdown_information .message {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    font-style: normal;
}

#yith-topbar-countdown .u-btn-thirdy {
    background-color: #fff;
    color: #d93;
    font-size: 25px;
    margin-top: 2px;
    width: 100%;
}

#yith-topbar-countdown .countdown_information .countdown .num {
    color: #000;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
}

/* #yith-topbar-countdown .countdown_information .countdown .num,
#yith-topbar-countdown .countdown_information .countdown-label {
    padding-right: 12px
} */

.margin-7{
    margin-top: 7px;
}

.margin-12{
    margin-top: 12px;
}

.div_numeros{
    background-color: white;
    width: 45px;
    height: 62px;
    margin: auto;
    padding: 9px 6px;
}

.izquierda{
    margin-right: 3px;
}

@media (max-width: 1024px) {
    .grid_fecha{
        margin-left: 6px !important;
    }

    #yith-topbar-countdown .countdown_slogan {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .grid_countdown{
        grid-template-columns: 100%;
        grid-template-areas: "slogan"
                             "fecha"
                             "mensaje";
        grid-template-rows: auto auto auto;
        grid-gap: 0;
    }

    .grid_fecha{
        margin-left: 15rem !important;
    }

    #yith-topbar-countdown .countdown_information .countdown .num {
        font-size: 1.7rem;
    }
}

@media (max-width: 764px) {
    .grid_fecha{
        margin-left: 0rem !important;
    }
}

@media (max-width: 425px) {
    #yith-topbar-countdown.topbar-countdown-container {
        padding-bottom: 0px;
    }

    #yith-topbar-countdown .countdown_slogan {
        font-size: 1rem;
    }
    #yith-topbar-countdown .countdown_information .message{
        font-size: 1rem !important;
    }
    #yith-topbar-countdown .countdown_information .countdown .num {
        font-size: 1.7rem;
    }
}

@media (max-width: 344px) {
    .grid_fecha_countdown {
        grid-gap: 12px;
    }
}

@media (max-width: 304px) {
    .grid_fecha_countdown {
        grid-gap: 4px;
    }
}