@charset "UTF-8";.text-disponible{font-size:13px;font-weight:500;letter-spacing:2px;text-transform:uppercase;color:#77a464;}
.text-red{color:red;}
.text-green{color:green;}
body{font-family:'Nunito', sans-serif !important;}
.btn{border-radius:0px!important;}
.ratio-9-16{width:100%;height:0;padding-bottom:calc(90%*9/16);}
.ar-wrapper{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;align-items:center;justify-content:center;}
.ar-inside{width:50%;height:50%;}
.row{margin-right:0px;margin-left:0px;}
.txt-white{color:#fff;}
.txt-muletta-oro{color:#091b34 !important;}
.txt-muletta-gris{color:#6f6f6e;}
.txt-muletta-gris-claro{color:#9c9b9b;}
.pd-0{padding:0px;}
.mbot-20{margin-bottom:20px;}
.u-btn-primary:hover,
.u-btn-primary.active{border-color:#091b34;background-color:#091b34;background:#091b34 !important;}
.pl-60{padding-left:60px;}
.centered{margin:0 auto;}
a.liga-muletta{color:#9c9b9b;text-decoration:none;}
a.liga-muletta:hover{color:#091b34;}
a.liga-muletta:active{color:#091b34;}
a.liga-muletta:focus{color:#091b34;}
h4.h6.g-color-muletta-gray-theme.muletta-tittle-featured-products{display:inline;font-weight:700;}
.container-change-img{position:relative;width:100%;max-width:400px;}
.image-change-img{width:100%;height:auto;}
.overlay-change-img{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;transition:opacity .7s ease, transform 2s cubic-bezier(0, 0, .44, 1.18);}
.container-change-img:hover .overlay-change-img{opacity:1;}
.snd-img{transform-origin:50% 65%;transition:transform 4s, filter .5s ease-in-out;filter:brightness(93%);}
.snd-img:hover{filter:brightness(100%);transform:scale(1);}
.owl-carousel.product-carousel{display:inline-flex;}
img.snd-img{width:180px;}
a:hover,
a:active,
a:focus{text-decoration:none;}
@media (min-width:1281px){}
@media (min-width:1025px) and (max-width:1280px){}
@media (min-width:768px) and (max-width:1024px){.overlay-content{max-width:80%;}
}
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){}
@media(max-width:865px){overlay-content{max-width:80%;}
}
@media(max-width:864px){.overlay-content{max-width:80%;}
}
@media (min-width:481px) and (max-width:767px){.overlay-content{max-width:80%;}
}
@media (min-width:320px) and (max-width:480px){.overlay-content{max-width:80%;}
}
.g-hidden-xs-up{display:none !important;}
@media (max-width:575px){.g-hidden-xs-down{display:none !important;}
}
@media (min-width:576px){.g-hidden-sm-up{display:none !important;}
}
@media (max-width:767px){.g-hidden-sm-down{display:none !important;}
}
@media (min-width:865px){.g-hidden-md-up-v2{display:none !important;}
}
@media (min-width:768px){.g-hidden-md-up{display:none !important;}
}
@media (max-width:866px){.g-hidden-md-down-v2{display:none !important;}
}
@media (max-width:991px){.g-hidden-md-down{display:none !important;}
}
@media (min-width:992px){.g-hidden-lg-up{display:none !important;}
}
@media (max-width:1199px){.g-hidden-lg-down{display:none !important;}
}
@media (min-width:1200px){.g-hidden-xl-up{display:none !important;}
}
.g-hidden-xl-down{display:none !important;}
.btn-remove-item{border-radius: 50% !important;box-shadow: none !important;border: none !important;background-color: #091b34 !important;color: white !important;position: relative;opacity: .2 !important;float: left;left: 20px;}
.btn-remove-item:hover{opacity:1 !important;}
.loader{border:16px solid #f3f3f3;border-top:16px solid #091b34;border-radius:50%;width:80px;height:80px;animation:spin 2s linear infinite;position:absolute;left:53%;top:59%;z-index:9;}
@keyframes spin{0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
div.menu-box{background-color:#F5F5F5;padding-top:80px;padding-bottom:80px;border:3px solid #3333336b;margin:10px;}
h3.box-menu-title{font-size:1.15rem;}
img.rounded.faq-icon-top{width:80px;max-width:80px;}
.accordeon-ctm-wraper{display:flex;}
.accordion-ctm{margin:0 auto;padding:4rem;width:40rem;font-family:'Nunito', sans-serif !important;list-style-type:none;}
.accordion-ctm .accordion-ctm-item a{position:relative;display:flex;width:100%;padding:1rem 3rem 1rem 1rem;font-size:1.2rem;text-decoration:none;color:#7f8c8d;border-bottom:2px solid #e5e5e5;}
.accordion-ctm .accordion-ctm-item a i{position:absolute;right:1rem;box-sizing:border-box;padding:10px;width:30px;height:30px;font-size:1rem;text-align:center;border:1px solid #7f8c8d;border-radius:50%;transition:0.3s;}
.accordion-ctm .accordion-ctm-item a:hover,
.accordion-ctm .accordion-ctm-item a:active{color:#091b34;border-bottom:1px solid #091b34;}
.accordion-ctm .accordion-ctm-item a:hover i,
.accordion-ctm .accordion-ctm-item a:active i{border-color:#091b34;}
.accordion-ctm .accordion-ctm-item a.active i{transform:rotate(0.5turn);}
a.active svg.svg-inline--fa.fa-chevron-down.fa-w-14.ml-auto{transform:rotate(-90deg);}
.accordion-ctm .accordion-ctm-item .content{padding:0 1rem;max-height:0;overflow:hidden;opacity:0;transition:0.3s 0.15s;}
.accordion-ctm .accordion-item-ctm .content p{font-size:1rem;color:#7f8c8d;}
.accordion-ctm .accordion-ctm-item .content.active{padding:1rem;max-height:90rem;opacity:1;}
li.accordion-ctm-item div.content.active{text-align:left;}
li.accordion-ctm-item div.content{text-align:left;}
li.accordion-ctm-item{text-align:left;}
div.content.active ul li{list-style:circle;}
img.rounded.faq-icon-bot{width:20px;max-width:20px;}
p img.rounded.faq-icon-bot{width:14px;margin-right:5px;}
.g-max-width-445{max-width:380px;}
input.form-control.g-color-black.g-bg-white.g-bg-white--focus.g-brd-gray-light-v3.g-rounded-left-0.g-rounded-right-3.g-py-15.g-px-15{border-left-color:#fff!important;}
.g-color-gray-dark-v5{color:#6F6F6E!important;}
label.d-inline-block.text-center.g-width-35.g-height-35.g-font-size-10.g-px-5.g-brd-around.g-brd-2.g-brd-muletta-gray-light.txt-muletta-gris-claro.g-brd-primary--hover.g-color-primary--hover.g-transition-0_3.g-py-4.g-mr-3{padding-top:0.58571rem!important;}
label.d-inline-block.text-center.g-width-35.g-height-35.g-font-size-10.g-px-5.g-brd-around.g-brd-2.g-brd-muletta-gray-light.txt-muletta-gris-claro.g-brd-primary--hover.g-color-primary--hover.g-transition-0_3.g-py-6.g-mr-3{padding-top:0.58571rem!important;}
.product-content.text-center p{text-transform:uppercase;}
.product-content.text-center h2{text-transform:uppercase;}
.product-content.text-center span{text-transform:uppercase;}
.owl-nav i{font-size:25px;}
.svg-inline--fa{display:inline-block;font-size:25px;height:1em;overflow:visible;vertical-align:-.125em;}
svg.svg-inline--fa.fa-chevron-down.fa-w-14.ml-auto{font-size:8px;}
svg.svg-inline--fa.fa-angle-right.fa-w-8.g-color-gray-light-v2.g-ml-5{font-size:10px;}
a:hover i.fab{color:#091b34;}
.shopping-cart h3{padding-top:20px;font-size:1.24rem;}
.g-brd-gray-light-v3.g-bg-white.rounded.mb-4 form.g-py-15 .mb-4{height:53px;}
.u-btn-primary{color:#fff;background-color:#091b34bf!important;}
.g-bg-primary{background-color:#091b34bf!important;}
span.fa.fa-fw.fa-eye.field-icon.toggle-password{float:left;margin-left:-18px;margin-top:20px;position:relative;z-index:2;right:15px;}
span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash{float:left;margin-left:-18px;margin-top:20px;position:relative;z-index:2;right:15px;}
.g-mb-30.g-ml-15 h5.mb-3{color:#000;font-size:12px;text-transform:uppercase;font-weight:700;letter-spacing:0.11px;line-height:13.2px;margin-block-end:4px;margin-block-start:11px;margin-bottom:4px;margin-inline-end:0px;margin-inline-start:0px;margin-top:10px;text-size-adjust:100%;}
div#sidebar-cat button.accordion{color:#000;font-size:14px;font-variant-ligatures:no-common-ligatures;font-weight:700;letter-spacing:0.5px;line-height:20px;list-style-image:none;list-style-position:outside;list-style-type:none;margin-top:0px;padding-bottom:5px;padding-left:0px;padding-right:10px;padding-top:5px;position:relative;text-align:left;text-size-adjust:100%;}
div#sidebar-cat button.accordion.active{color:#000;font-size:14px;font-variant-ligatures:no-common-ligatures;font-weight:700;letter-spacing:0.5px;line-height:20px;list-style-image:none;list-style-position:outside;list-style-type:none;margin-top:0px;padding-bottom:5px;padding-left:0px;padding-right:10px;padding-top:5px;position:relative;text-align:left;text-size-adjust:100%;}
div#sidebar-cat .g-mb-30.g-ml-15 .panel a{color:#000;cursor:pointer;display:table;font-size:14px;font-variant-ligatures:no-common-ligatures;font-weight:400;height:25px;line-height:20px;list-style-image:none;list-style-position:outside;list-style-type:none;padding-bottom:0px;text-align:left;text-decoration-color:#000;text-decoration-line:none;text-decoration-style:solid;text-size-adjust:100%;width:234px;}
.g-mb-30.g-ml-15 button.accordion a{color:#000;}
.g-mb-30.g-ml-15 button.accordion a:hover{color:#091b34;}
div#sidebar-cat .g-mb-30.g-ml-15 a:hover{color:#091b34;}
svg.svg-inline--fa.fa-circle.fa-w-16{font-size:5px;color:#091b34;padding-bottom:0px;margin-bottom:3px;}
.tabContent.tab1-content .panel ul{padding-left:10px;}
.tabContent.tab1-content button.accordion{padding:5px;}
div#search-overlay-nav{border-left:solid 2px #eee;height: 100% !important;}
div#carrito-overlay-nav{border-left:solid 2px #eee;height: 100% !important;}
i.ml-auto.fas.fa-chevron-down{font-size:10px;}
.not-active{pointer-events:none;cursor:default;text-decoration:none;color:black;text-decoration:line-through;}
.g-mb-30.g-ml-15{position:fixed;max-width:200px;}
.sticky-bottom{position:absolute!important;bottom:0;top:initial;margin-bottom:120px!important;}
.u-pagination-v1-3--active,
.u-pagination-v1-3:hover,
.u-pagination-v1-3:focus{background-color:#091b34;color:#fff;border-color:#091b34;}
div nav ul li a span svg.svg-inline--fa.fa-angle-left.fa-w-8{padding-top:5px;}
div nav ul li a span svg.svg-inline--fa.fa-angle-right.fa-w-8{padding-top:5px;}
.g-pl-15--lg nav{background:#fff;}
a.disabled{pointer-events:none!important;cursor:default!important;}
.search-input{width:1086px!important;}
.sin-existencia{border-color:red !important;background-image:url(../../../../assets/global/img/icons/sinExt.png);background-size:30px;background-position:center;background-repeat:no-repeat;}
.margin-top{margin-top:2em;}
p{text-align:justify;text-justify:inter-word;}
button.swal2-styled{border-radius:0px!important;}
.g-max-width-445.text-center.rounded.mx-auto.g-pa-20{border:2px #ccc solid;}
.whatsapp {position:fixed;width:60px;height:60px;bottom:40px;left:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;z-index:100;}
.whatsapp-icon {margin-top:10px;font-size: 39px;}