.card {
    background-color: #fff
}

.card,
.card-header {
    background-color: #fff;
    border-color: #fff
}

h5.mb-0.txt-muletta-gris {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Nunito', sans-serif !important;
    letter-spacing: .05rem
}

.card-body {
    font-family: 'Nunito', sans-serif !important;
    color: #9c9b9b;
    letter-spacing: .05rem
}

.product-content.text-center {
    margin: 0 auto;
    text-transform: uppercase
}

#shortcode14 nav {
    background: #fff
}

svg.svg-inline--fa.fa-chevron-left.fa-w-10.u-line-icon-pro {
    margin-top: 25px
}

svg.svg-inline--fa.fa-chevron-right.fa-w-10.u-line-icon-pro {
    margin-top: 25px
}

.height-550 {
    height: 550px
}

.u-list-inline {
    padding-left: 3%
}

.g-brd-primary {
    border-color: #9c9b9b !important
}

.g-brd-around {}

.g-brd-2 {
    border-width: 2px
}

.g-brd-muletta-gray-light {
    border-color: #9c9b9b
}

.g-brd-around {
    border: solid 2px #9c9b9b !important
}

/* h3.g-font-size-16.g-py-15.g-px-15.text-center {
    border-right: 1px solid #9c9b9b
} */

.col-12.g-brd-muletta-gray-light.g-brd-right {
    border-top: solid 1px #9c9b9b !important;
}

.form-control,
.form-control:focus {
    font-size: 16px;
    color: #9c9b9b;
    border-color: #fff;
    border-bottom: 2px solid #9c9b9b
}

.g-color-gray-dark-v3 {
    color: #9c9b9b !important
}

.g-color-red-v3 {
    color: #ce0c0c !important
}

span.u-accordion__control-icon.g-color-gray-dark-v3.g-brd-right.g-brd-gray-light-v4.text-center {
    padding-right: 10px
}

span.u-accordion__control-icon.g-color-gray-dark-v3.g-brd-right.text-center {
    padding-right: 10px
}

.u-btn-primary-outline {
    background-color: white;
    border: 1px #9c9b9b solid;
    color: #9c9b9b;
    width: 111%;
    height: 67% !important
}

.u-btn-primary-outline:hover {
    background-color: white !important;
    border: 1px #9c9b9b solid !important;
    color: #9c9b9b !important
}

.desc {
    border: 1px solid #9c9b9b !important;
    width: 100% !important;
    height: 67% !important
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

@media (max-width:866px) {
    .g-hidden-md-down-v2 {
         display: none !important
    }
}

#main > div > div:nth-child(4) > div.col-md-4.g-mb-30 {
     background-color: #f2f2f2;
}

#main > div > div:nth-child(4) > div.col-md-4.g-mb-30 > div > div:nth-child(1) {
     padding-top: 20px;
}

.u-accordion__body.g-font-size-30.g-color-gray-dark-v5.text-left a {
     padding: 0px 3px;
}

.input-negado{
    background-color: #e6e5e5 !important;
    color: black !important;
    height: 38px !important;
}
.input-negado::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.modal-md{
    max-width: 600px !important;
}

.h4, h4 {
    font-size: 1.1rem !important;
}
.coins-muletta{
    border-top: 2px #9c9b9b solid;
    border-left: 2px #9c9b9b solid;
    border-right: 2px #9c9b9b solid;
    border-bottom: 1px #9c9b9b solid;
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
}
.coins-detalles{
    border-top: 1px #9c9b9b solid;
    border-left: 2px #9c9b9b solid;
    border-right: 2px #9c9b9b solid;
    border-bottom: 2px #9c9b9b solid;
}
.div-coins-detalles{
    height: 60vh;
    overflow: auto;
}
.coins-cantidad{
    display: flex;
    align-items: center;
}
#imgProd{
    width: 100%;
}