.grid-menu{
    display: grid;
    grid-template-columns: 80% 20%;
}

.grid-menu .u-list-inline{
    grid-column: 1 / 2;
}

.grid-menu .filtro-btn{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-content: end;
    justify-self: end;
    margin-right: 84px;
    width: auto;
    height: 100%;
}

.filtro-btn span{
    cursor: pointer;
}

#menu-categoria{
    width: 16em;
    position: fixed;
    z-index: 999999;
    background-color: white;
    color: #091b34;
    right: 17px;
    padding: 15px;
    margin-right: 4%;
    border: 1px #d6d6d6 solid;
    max-height: 73vh;
    overflow-y: auto;
    display: none;
}

.scrollMenu{
    top: 75px;
}

.searchMenu{
    margin-top: 2em;
}

#menu-categoria::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#menu-categoria::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#menu-categoria::-webkit-scrollbar-thumb {
    background: #091b34;
}

#div-filtros span{
    color: #6f6f6e;
}
#div-filtros .titulo{
    color: #444;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-weight: bold;
    text-transform: uppercase !important;
}
#div-filtros ul{
    padding: 0;
    list-style: none;
}

.noActivos{
    color: #D1D1D3;
    margin-left: 10px;
    font-size: 1.5em;
}
.siActivos{
    color: #808080;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: bold;
}


/* Customize the label (the container) */
.checkbox-inline {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
.checkbox-inline input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #D1D1D3;
}
  
/* On mouse-over, add a grey background color */
.checkbox-inline:hover input ~ .checkmark {
    background-color: #fff;
}
  
/* When the checkbox is checked, add a blue background */
.checkbox-inline input:checked ~ .checkmark {
    background-color: #fff;
}
  
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
/* Show the checkmark when checked */
.checkbox-inline input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the checkmark/indicator */
.checkbox-inline .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #202945;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #091b34;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #091b34;
    cursor: pointer;
}

#rango_seleccionado{
    width: 100%;
    text-align: center;
}

.closeMenu{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #091b34;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-radius: 50% !important;
    background: white !important;
    border: 1px solid #091b34 !important;
}

.ui-widget-header {
    border: 1px solid #091b34 !important;
    background: #091b34 !important;
}

.number_range{
    color:#6f6f6e !important;
}
.precio-top{
    margin-top: 6px;
    margin-bottom: 16px;
}
.grid_precio{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
}
.price_min{
    grid-column: 1/2;
    text-align: center;
}
.border{
    border: 1px #6f6f6e solid;
}
.price_max{
    grid-column: 2/3;
    text-align: center;
}


.div_primero{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 75px 152px auto;
    background: hsl(43, 72%, 42%);
    opacity: 0.6;
    position: fixed;
    top: 0;
    z-index: 9999991;
    width: 100%;
    height: 100%;
}

.div_primero_count {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 205px 152px auto;
    background: hsl(43, 72%, 42%);
    opacity: 0.6;
    position: fixed;
    top: 0;
    z-index: 9999991;
    width: 100%;
    height: 100%;
}

.div_anuncio{
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    justify-self: end;

    display: flex;
}

.primero-filtro{
    background: white;
    width: 122px;
    height: 55px;
    margin-right: 4vw;
    margin-bottom: 3vh;
}

.primero_titulo{
    margin-right: 20px;
    color: white;
    font-weight: bold;
}

@media (min-width: 1442px) {
    .primero-filtro{
        margin-right: 3vw;
        margin-bottom: 0;
    }
}

@media (max-width: 1056px) {
    .grid-menu .filtro-btn{
        white-space: nowrap;
    }
}

@media (max-width: 961px) {
    
}

@media (max-width: 866px) {
    .grid-menu .filtro-btn{
        grid-row: 1 / 2;
        padding-top: 0px;
        border-top: 0px;
        margin-right: 84px;
        width: auto;
    }
}

@media (max-width: 768px) {
    .grid-menu{
        grid-template-columns: 69% 31%;
    }
    .grid-menu .filtro-btn{
        margin-right: 40px;
    }
    .div_primero_count{
        grid-template-rows: 362px 239px auto;
    }
}

@media (max-width: 425px) {
    .div_primero_count {
        grid-template-columns: 1% 99%;
        grid-template-rows: 339px 282px auto;
    }
}

@media (max-width: 397px) {
    .grid-menu{
        grid-template-columns: 65% 32%;
    }
    .grid-menu .filtro-btn{
        margin-right: 15px;
    }
}

@media (max-width: 357px) {
    .div_primero_count {
        grid-template-rows: 339px 352px auto;
    }
}

@media (max-width: 346px) {
    .grid-menu .filtro-btn{
        margin-right: 5px;
    }
}