@charset "UTF-8";*{box-sizing:border-box;}
body{font-family:'Nunito', sans-serif !important;margin:0;}
#main{transition:margin-left .5s;margin:0 auto;}
.header-wrap{margin:0 auto;z-index:900;}
.slider-box{width:100%;background-color:#eee;position:relative;z-index:0;overflow:hidden;height: 270px !important;}
.slider-content,
.slider-content .slider-item{position:absolute;top:0;width:100%;height:100%;}
.slider-content .slider-item{left:5%;}
.slider-content .slider-item{visibility:hidden;opacity:0;transition:all .5s ease-in-out;}
.slider-content .slider-item.active{visibility:visible;opacity:0;left:0;}
.slider-pagin{z-index:200;position:absolute;bottom:0;left:50%;transform:translate(-50%, 0);}
.slider-pagin ul{list-style:none;display:flex;align-items:center;justify-content:center;padding:10px 0;}
.slider-pagin ul li{padding-bottom:0;transition:all .2s ease-in-out;}
.slider-pagin ul li + li{margin-left:2px;}
.slider-pagin ul li a{font-size:11px;line-height:1.42857143;color:#000;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);text-align:center;box-sizing:border-box;border-radius:50%;transition:all .2s ease;opacity:1;display:inline-block;vertical-align:middle;cursor:pointer;width:4px;height:4px;margin:2px 16px;background:white;border:3px solid #b78b1e;border:3px solid #fff;}
.slider-pagin ul li.active a,
.slider-pagin ul li a:hover,
.slider-pagin ul li a:focus{background-color:transparent;border:2px solid #000;color:#000;border-radius:50%;}
.slider-pagin ul li.active{padding-bottom:5px;}
.slider-fillbar{position:absolute;bottom:0;left:0;width:0;height:5px;background-color:rgba(0, 0, 0, .25);z-index:150;}
.slider-background{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-repeat:none;background-position:center;z-index:100;}
.slider-content .slider-item{display:flex;align-items:center;justify-content:flex-end;padding:2em;color:#333;font-size:3rem;}
.slider-pagin{position:absolute;bottom:0;left:50%;transform:translate(-50%, 0);;}
.slider-pagin ul{list-style:none;display:flex;align-items:center;justify-content:center;padding:10px 0;}
.slider-pagin ul li{padding-bottom:0;transition:all .2s ease-in-out;}
.slider-pagin ul li + li{margin-left:2px;}
.slider-pagin ul li a{display:flex;align-items:center;justify-content:center;width:5px;height:5px;border-radius:50%;border:2px solid #FFF;text-decoration:none;color:#FFF;transition:all .2s ease-in-out;}
.slider-pagin ul li.active a,
.slider-pagin ul li a:hover,
.slider-pagin ul li a:focus{border:.5px solid #fff;background-color:#fff0;width:8px;height:8px;}
.slider-pagin ul li.active{padding-bottom:5px;}
h2.muleta-side-text{line-height:1;font-size:40.6px;letter-spacing:.075rem;padding-bottom:25%;font-weight:400;}
h2.muleta-side-text span{font-weight:600;}
div#sb_2.slider-box{min-height:400px;}
.card-body.d-flex.flex-column.align-items-center{width:700px;}
.card-img-bottom{color:#fff;height:20rem;background:url(../img/i.ndex/BannerMujer.jpg) center no-repeat;background-size:cover;}
.card{background-color:#F7F7F7;}
img.card-img-right.flex-auto.d-none.d-lg-block{max-height:600px;width:70%;}
.card,
.card-header{border-color:#fff;}
#index-seccion-02 .card{background-color:#202946;color:#fff;}
#index-seccion-02 .card a{color:#fff;}
#make-3D-space{position:relative;perspective:800px;width:340px;height:500px;transform-style:preserve-3d;transition:transform 5s;position:absolute;top:80px;left:50%;margin-left:-167px;}
#product-front,
#product-back{width:335px;height:500px;background:#fff;position:absolute;left:-5px;top:-5px;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#product-back{display:none;transform:rotateY(180deg);}
.product-card.animate #product-back,
.product-card.animate #product-front{top:0;left:0;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
.product-card{width:325px;height:490px;position:relative;top:10px;left:10px;overflow:hidden;transform-style:preserve-3d;-webkit-transition:100ms ease-out;-moz-transition:100ms ease-out;-o-transition:100ms ease-out;transition:100ms ease-out;}
div.product-card.flip-10{-webkit-transform:rotateY(-10deg);-moz-transform:rotateY(-10deg);-o-transform:rotateY(-10deg);transform:rotateY(-10deg);transition:50ms ease-out;}
div.product-card.flip90{-webkit-transform:rotateY(90deg);-moz-transform:rotateY(90deg);-o-transform:rotateY(90deg);transform:rotateY(90deg);transition:100ms ease-in;}
div.product-card.flip190{-webkit-transform:rotateY(190deg);-moz-transform:rotateY(190deg);-o-transform:rotateY(190deg);transform:rotateY(190deg);transition:100ms ease-out;}
div.product-card.flip180{-webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);transition:150ms ease-out;}
.product-card.animate{top:5px;left:5px;width:335px;height:500px;box-shadow:0 13px 21px -5px rgba(0, 0, 0, .3);-webkit-transition:100ms ease-out;-moz-transition:100ms ease-out;-o-transition:100ms ease-out;transition:100ms ease-out;}
.stats-container{background:#fff;position:absolute;top:386px;left:0;width:100%;height:300px;padding:27px 35px 35px;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
.product-card.animate .stats-container{top:272px;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
.stats-container .product_name{font-size:22px;color:#393c45;}
.stats-container p{font-size:16px;color:#b1b1b3;padding:2px 0 20px 0;}
.stats-container .product_price{float:right;color:#b78b1e;font-size:22px;font-weight:600;}
.image_overlay{position:absolute;top:0;left:0;width:100%;height:100%;background:#926f1a99;opacity:0;}
.product-card.animate .image_overlay{opacity:.7;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
.product-options{padding:2px 0 0;}
.product-options strong{font-weight:700;color:#393c45;font-size:14px;}
.product-options span{color:#969699;font-size:14px;display:block;margin-bottom:8px;}
#view_details{position:absolute;top:112px;left:50%;margin-left:-85px;border:2px solid #fff;color:#fff;font-size:19px;text-align:center;text-transform:uppercase;font-weight:700;padding:10px 0;width:172px;opacity:0;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
#view_details:hover{background:#fff;color:#b78b1e;cursor:pointer;}
.product-card.animate #view_details{opacity:1;width:152px;font-size:15px;margin-left:-75px;top:115px;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;-o-transition:all 200ms ease-out;transition:all 200ms ease-out;}
div.colors div{margin-top:3px;width:15px;height:15px;margin-right:5px;float:left;}
div.colors div span{width:15px;height:15px;display:block;border-radius:50%;}
div.colors div span:hover{width:17px;height:17px;margin:-1px 0 0 -1px;}
div.c-blue span{background:#6e8cd5;}
div.c-red span{background:#f56060;}
div.c-green span{background:#44c28d;}
div.c-white span{background:#fff;width:14px;height:14px;border:1px solid #e8e9eb;}
div.shadow{width:335px;height:520px;opacity:0;position:absolute;top:0;left:0;z-index:3;display:none;background:-webkit-linear-gradient(left, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));background:-o-linear-gradient(right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));background:-moz-linear-gradient(right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));background:linear-gradient(to right, rgba(0, 0, 0, .1), rgba(0, 0, 0, .2));}
#product-back div.shadow{z-index:10;opacity:1;background:-webkit-linear-gradient(left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));background:-o-linear-gradient(right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));background:-moz-linear-gradient(right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));background:linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, .1));}
#flip-back{position:absolute;top:20px;right:20px;width:30px;height:30px;cursor:pointer;}
#cx,
#cy{background:#d2d5dc;position:absolute;width:0;top:15px;right:15px;height:3px;-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-ms-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out;}
#flip-back:hover #cx,
#flip-back:hover #cy{background:#979ca7;-webkit-transition:all 250ms ease-in-out;-moz-transition:all 250ms ease-in-out;-ms-transition:all 250ms ease-in-out;-o-transition:all 250ms ease-in-out;transition:all 250ms ease-in-out;}
#cx.s1,
#cy.s1{right:0;width:30px;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#cy.s2{-ms-transform:rotate(50deg);-webkit-transform:rotate(50deg);transform:rotate(50deg);-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#cy.s3{-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#cx.s1{right:0;width:30px;-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#cx.s2{-ms-transform:rotate(140deg);-webkit-transform:rotate(140deg);transform:rotate(140deg);-webkit-transition:all 100ms ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#cx.s3{-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg);transform:rotate(135deg);-webkit-transition:all 100ease-out;-moz-transition:all 100ms ease-out;-ms-transition:all 100ms ease-out;-o-transition:all 100ms ease-out;transition:all 100ms ease-out;}
#carousel{width:335px;height:500px;overflow:hidden;position:relative;}
#carousel ul{position:absolute;top:0;left:0;}
#carousel li{width:335px;height:500px;float:left;overflow:hidden;}
.arrows-perspective{width:335px;height:55px;position:absolute;top:218px;transform-style:preserve-3d;transition:transform 5s;perspective:335px;}
.carouselPrev,
.carouselNext{width:50px;height:55px;background:#ccc;position:absolute;top:0;transition:all 200ms ease-out;opacity:.9;cursor:pointer;}
.carouselNext{top:0;right:-26px;-webkit-transform:rotateY(-117deg);-moz-transform:rotateY(-117deg);-o-transform:rotateY(-117deg);transform:rotateY(-117deg);transition:all 200ms ease-out;}
.carouselNext.visible{right:0;opacity:.8;background:#efefef;-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-o-transform:rotateY(0deg);transform:rotateY(0deg);transition:all 200ms ease-out;}
.carouselPrev{left:-26px;top:0;-webkit-transform:rotateY(117deg);-moz-transform:rotateY(117deg);-o-transform:rotateY(117deg);transform:rotateY(117deg);transition:all 200ms ease-out;}
.carouselPrev.visible{left:0;opacity:.8;background:#eee;-webkit-transform:rotateY(0deg);-moz-transform:rotateY(0deg);-o-transform:rotateY(0deg);transform:rotateY(0deg);transition:all 200ms ease-out;}
#carousel .x,
#carousel .y{height:2px;width:15px;background:#48cfad;position:absolute;top:31px;left:17px;-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
#carousel .x{-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg);transform:rotate(135deg);top:21px;}
#carousel .carouselNext .x{-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);transform:rotate(45deg);}
#carousel .carouselNext .y{-ms-transform:rotate(135deg);-webkit-transform:rotate(135deg);transform:rotate(135deg);}
#index-seccion-3 .card-img{max-height:700px;border-radius:5px;}
.bg-dark-blue{background-color:#202946;}
.centered{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);}
.centered-right{position:absolute;top:50%;left:75%;transform:translate(-50%, -50%);}
section#index-seccion-3 h2{font-weight:600;letter-spacing:.08rem;}
@media (min-width:768px){.carousel-inner .active,
.carousel-inner .active + .carousel-item,
.carousel-inner .active + .carousel-item + .carousel-item{display:block;}
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item{transition:none;}
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev{position:relative;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item{position:absolute;top:0;right:-33.3333%;z-index:-1;display:block;visibility:visible;}
.active.carousel-item-left + .carousel-item-next.carousel-item-left,
.carousel-item-next.carousel-item-left + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item{position:relative;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);visibility:visible;}
.carousel-inner .carousel-item-prev.carousel-item-right{position:absolute;top:0;left:0;z-index:-1;display:block;visibility:visible;}
.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
.carousel-item-prev.carousel-item-right + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item{position:relative;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);visibility:visible;display:block;visibility:visible;}
;}
.px-5{padding-left:5px !important;padding-right:5px !important;}
.py-5{padding-top:5px !important;padding-bottom:5px !important;}
.carousel-wrap{margin:0 auto;padding:0 5%;width:94%;position:relative;}
.owl-carousel .item{position:relative;z-index:100;-webkit-backface-visibility:hidden;}
.owl-nav > div{margin-top:-26px;position:absolute;top:50%;color:#9c9b9b;;}
.owl-nav i{font-size:35px;;}
.owl-nav .owl-prev{left:-60px;}
.owl-nav .owl-next{right:-60px;;}
#index-seccion-6 p{color:red;font-size:17px;;}
#index-seccion-6 h2.txt-white{padding-top:60px;font-family:'Nunito', sans-serif !important;font-weight:600;letter-spacing:.05rem;font-size:60px;;}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled{display:block;;}
.col.txt-muletta-gris.mbot-20.text-center h2{letter-spacing:.05rem;font-weight:600;;}
.product-content.text-center p{color:#9c9b9b;padding-top:10px;font-weight:400;font-size:16px;margin-bottom:0;}
.product-content.text-center h2{color:#6f6f6e;font-weight:500;margin-bottom:0;font-size:22px;line-height:1.1;font-weight: bold;}
.product-content.text-center span{color:#6f6f6e;font-weight:400;font-size:16px;margin-bottom:0;}
#index-seccion-6 h3.text-uppercase.g-font-prompt{font-size:20px;font-weight:600;letter-spacing:.025rem;margin-bottom:0;color:#6f6f6e;}
#index-seccion-6 p.g-font-prompt{font-size:18px;color:#6f6f6e;}
#index-seccion-5 h2{font-weight:600;letter-spacing:.08rem;}
section#index-seccion-7 h2{color:#6f6f6e;font-size:20px;letter-spacing:.05rem;}
section#index-seccion-7 h3{color:#9c9b9b;font-size:18px;letter-spacing:.05rem;}
section#index-seccion-7 h2.txt-white.texto-sobre-portada{color:#fff;font-weight:600;font-size:2rem;}
section#index-seccion-7 .card-img{width:100%;border-radius:calc(.25rem - 1px);max-height:450px;}
.card-body.d-flex.flex-column.align-items-center{background-color:#192944;}
#index-seccion-02.card.flex-md-row.mb-4.h-md-250 img{width:800px;}
section#index-seccion-3 h2{font-size:35px;}
svg.svg-inline--fa.fa-chevron-right.fa-w-10{font-size:35px;}
svg.svg-inline--fa.fa-chevron-left.fa-w-10{font-size:35px;}
@media (min-width:1281px){}
@media (min-width:1280px){.card-body.d-flex.flex-column.align-items-center{width:600px;}
;}
@media (min-width:866px) and (max-width:1024px){div#header-menu-brand{left:43%;}
items-center{width:400px;}
div#sb_2.slider-box{min-height:335px;}
.card-body.d-flex.flex-column.align-items-center{width:500px;}
;}
@media (min-width:866px) and (max-width:1024px) and (orientation:landscape){}
@media (min-width:768px) and (max-width:865px){div#header-menu-brand{left:45%;}
h2.muleta-side-text{padding-bottom:5%;}
.product-content.text-center h2{font-size:18px}
.product-content.text-center p{font-size:13px}
.product-content.text-center span{font-size:13px}
;}
@media (min-width:481px) and (max-width:767px){a#icon-logo{padding-left:5px;opacity:1;display:block;}
.card-img{border-radius:0;}
h2.muleta-side-text{padding-bottom:5%;}
.owl-nav .owl-prev{left:-40px;}
.owl-nav .owl-next{right:-40px;}
.carousel-wrap{max-width:80%;}
.owl-carousel{margin:0 auto;width: 360px;}
#index-seccion-6 h2.txt-white{padding-top:30px;font-size:45px;}
#index-seccion-6 p{font-size:14px;}
;}
@media (min-width:320px) and (max-width:480px){.card-img{border-radius:0;}
a#text-logo{display:none;}
a#icon-logo{padding-left:5px;opacity:1;display:block;}
h2.muleta-side-text{line-height:1;font-size:30.6px;letter-spacing:.075rem;padding-bottom:0;font-weight:400;}
.owl-nav .owl-prev{left:-40px;}
.owl-nav .owl-next{right:-40px;}
.carousel-wrap{max-width:70%;}
.owl-carousel{margin:0 auto;width:170px;}
#index-seccion-6 h2.txt-white{padding-top:30px;font-size:40px;}
#index-seccion-6 p{font-size:12px;}
.carousel-wrap{width:208.5px;height:230px;}
;}
@media (max-width:320px){.carousel-wrap{width:200px;height:210px;}
;}
p.g-font-prompt{text-align:center;;}
img.photo{opacity:0;}
img.photo:not(.initial){transition:opacity 1s;}
img.photo.initial,
img.photo.loaded,
img.photo.error{opacity:1;}
img.photo:not([src]){visibility:hidden;}