/*------------------------------------
  Index 
------------------------------------*/
/*path {
    fill: #091b34;
}*/

.u-btn-primary:hover, .u-btn-primary.active {
    border-color: #091b34;
    background-color: #091b34;
}

.g-brd-primary--hover:hover, .g-brd-primary--active.active {
    border-color: #091b34!important;
}
/*login*/
.u-btn-facebook {
    color: #3b5998;
    background-color: #fff;
    border-color: #3b5998;
}

.u-btn-google-plus {
     color: #dd4b39;
    background-color: #fff;
    border-color: #dd4b39;
}

.g-brd-gray-light-v3 {
   /* border-color: #9c9b9b!important;*/
   border-color: #ddd!important;
}
.g-brd-gray-light-v4 {
    /*border-color: #9c9b9b !important;*/
    border-color: #ddd !important;
    
}
.g-max-width-445{
    max-width: 445px;
}
a.g-color-white--hover {
    text-decoration: none;
}
.text-left.desc {
    padding: 0px 30px;
}
.g-max-width-380 {
    max-width: 380px;
}
p.g-color-gray-dark-v5 {
    text-align: center;
}