@charset "UTF-8";footer{font-family:'Nunito', sans-serif !important;}
.g-font-nunito{font-family:'Nunito', sans-serif !important;}
.g-brd-gray-light-v2{border-top:1px solid #ccc;}
.u-block-hover:hover .g-color-primary--hover, .g-color-primary--hover:hover{color:#091b34 !important;}
#contact-section h3.text-uppercase.g-font-prompt{color:#6f6f6e;font-size:18px;letter-spacing:0.025rem;margin-bottom:0px;}
.g-brd-gray-light-v2{border-color:#9c9b9b !important;}
div#footer-accordeon .accordion{background-color:#fff;}
div#footer-accordeon .col-sm-6{border-bottom:solid 1px #eaeaea;}
div#footer-accordeon{border-top:solid 1px #eaeaea;}
div#footer-accordeon .panel{background-color:#fff;}
a:hover.txt-muletta-gris-claro{color:#000;}
@media (min-width:1281px){}
@media (min-width:1025px) and (max-width:1280px){}
@media (min-width:768px) and (max-width:1024px){}
@media (min-width:768px) and (max-width:1024px) and (orientation:landscape){}
@media(max-width:865px){}
@media(max-width:864px){}
@media (min-width:481px) and (max-width:767px){}
@media (min-width:320px) and (max-width:480px){}