@charset "UTF-8";

a:hover,
a:active,
a:hover,
a:active,
a:focus {
    color: #091b34;
}

a::after {
    line-height: 2px;
}

a.cool-link.active {
    color: #091b34;
}

.search-box {
    max-width: 500px;
    margin: 0 auto;
}

div#top-nav-header {
    background-color: white;
}

#icon-logo img {
    max-width: 35px;
}

.header-wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: none;
    transition: none;
    height: 75px;
}

.header-wrap {
    z-index: 9000;
}

.ma-header {
    background: #ffffff00;
}

.ma-header {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    font-size: 12px;
    -webkit-transition: none;
    transition: none;
}

.ma-header {
    z-index: 8001;
}

.ma-header i {
    margin-top: 7px;
    padding-left: 2px;
    font-size: 10px;
}

.ma-logo {
    width: auto;
    height: 50px;
    display: table;
    position: absolute;
    left: 10px;
    margin-left: 0;
    text-align: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.ma-logo {
    z-index: 1100;
}

.ma-logo h1 {
    display: table-cell;
    vertical-align: bottom;
    text-align: left;
}

.ma-logo a {
    display: table-cell;
    vertical-align: middle;
}

a#icon-logo {
    padding-left: 55px;
}

s .ma-bicolor {
    color: black;
}

.ma-logo img {
    max-width: 150px;
}

.shopping-cart-header img {
    max-width: 30px;
}

svg#search-icon {
    width: 7%;
}

.container.mb-5.search-box.g-max-width-445 {
    border: #eee solid 3px;
    padding: 20px;
    padding-bottom: 35px;
}

.menu-toggle img {
    width: 30px;
}

.ma-header-right {
    font-family: 'Nunito', sans-serif !important;
    float: right;
    margin-right: 50px;
    letter-spacing: 0.5px;
    height: 50px;
    margin-top: 2em;
    font-weight: 400;
    letter-spacing: .05rem;
}

.ma-header-right li {
    display: inline-block;
}

.ma-item-perfil {
    position: relative;
    border: none;
    float: left;
}

.ma-header-right a {
    line-height: 1.4;
    list-style: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    text-align: left;
    float: left;
    display: inline-block;
    padding: 10px 10px 10px 0px;
    color: #091b34;
    text-decoration: none;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

.ma-header-right a:hover {
    color: #6f6f6e;
}

.ma-header-left {
    font-family: 'Nunito', sans-serif !important;
    font-size: 1.45em;
    float: left;
    position: relative;
    left: 20px;
    margin-right: -8px;
    letter-spacing: 0.5px;
    height: 50px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .05px;
    z-index: 400;
}

.ma-header-left li {
    display: inline-block;
}

.ma-item-perfil {
    position: relative;
    border: none;
    float: left;
}

.ma-header-left a {
    padding: 25px 30px 15px 0px;
    font-size: 15px;
    color: #6f6f6e;
    text-decoration: none;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;
    display: block;
    line-height: 18px;
    list-style: none;
    width: auto;
    text-align: center;
}

.ma-header-left a {
    color: #6f6f6e;
}

.ma-header-left a:hover {
    color: #091b34;
}

.cool-link {
    display: inline-block;
    color: #091b34;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #091b34;
    transition: width .5s;
}

.cool-link:hover::after {
    width: 100%;
}

#ham-mid {
    width: 30%;
}

.menu {
    margin-top: 1em;
    position: fixed;
    top: 25px;
    right: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 45px;
    height: 10px;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 200;
}

.menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: #091b34;
    float: left;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;
}

.menu span:nth-of-type(1) {
    transform: translateY(-5px);
}

.menu span:nth-of-type(3) {
    transform: translateY(5px);
}

#menu {
    display: none;
}

#menu:checked ~ .menu {
    background-color: transparent;
    transition: transform 250ms ease;
}

#menu:checked ~ .menu span {
    transition: transform 250ms ease;
}

#menu:checked ~ .menu span:nth-of-type(1) {
    transform: translateY(1px) rotate(45deg);
}

#menu:checked ~ .menu span:nth-of-type(2) {
    display: none;
}

#menu:checked ~ .menu span:nth-of-type(3) {
    transform: translateY(-1px) rotate(-45deg);
}

#menu:checked ~ nav {
    background-color: red;
    right: 0px;
    transition: left 500ms ease;
}

input[type=checkbox]:checked ~ #menu {
    background-color: red;
    right: 0px;
    transition: left 500ms ease;
}

#menu:checked ~ main {
    transform: translateX(0px);
    transition: transform 500ms ease;
}

.sticky-logo {
    opacity: 0;
}

.sidenav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 65px;
    right: 0;
    background-color: #FAFAFA;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.liga-acordeon-titulo {
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    background-color: #FAFAFA;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 0px;
}

.hamburger_wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hamburger_wrapper header {
    background: #FAFAFA;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.hamburger_wrapper header nav {
    display: flex;
    position: relative;
}

.hamburger_wrapper header nav .tab {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger_wrapper header .block {
    letter-spacing: 0.11px;
    border-radius: 0px;
    cursor: pointer;
    color: #000;
    line-height: 1.4;
    list-style: none;
    z-index: 100;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 17px 12px;
    transition: opacity .3s ease;
    opacity: 1;
}

.tab1.active ~ .indicator {
    left: 0;
}

.hamburger_wrapper header nav .indicator {
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #091b34;
    transition: 0.3s ease;
}

.hamburger_wrapper main {
    flex: 1;
    width: 300%;
    height: 100%;
}

.hamburger_wrapper main .tab_reel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.5s cubic-bezier(0.18, 1.14, 0.5, 1.18);
}

.hamburger_wrapper main .tab_reel .tab_panel1,
.phone_wrapper main .tab_reel .tab_panel2 {
    width: 33%;
    padding: 0px;
}

.hamburger_wrapper main .tab_reel .tab_panel1,
.phone_wrapper main .tab_reel .tab_panel3 {
    width: 33%;
    padding: 0px;
}

.tab1.active ~ .indicator {
    left: 1%;
}

.tab2.active ~ .indicator {
    left: 33%;
}

.tab3.active ~ .indicator {
    left: 66%;
}

button.accordion {
    font-weight: bold;
}

.tab.tab1.active {
    font-weight: 700;
}

.tab.tab2.active {
    font-weight: 700;
}

.tab.tab3.active {
    font-weight: 700;
}

.sidenav-container {
    overflow-x: hidden;
    color: #091b34;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
}

.activeTab-indicator {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #091b34;
    transition: transform 0.4s ease-out;
}

.tabHeader-container {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.tabContent-container {
    display: flex;
    transition: transform 0.4s ease-out;
}

.tabHeader {
    cursor: pointer;
    color: #6f6f6e;
    transition: color 0.4s ease;
    padding: 10px 15px;
    flex-grow: 1;
    text-align: center;
}

.tabContent {
    width: 100%;
    flex-shrink: 0;
    padding: 15px 20px;
    box-sizing: border-box;
    background: #FAFAFA;
}

.tabContent h1 {
    margin: 0;
}

.radioInput:nth-of-type(1):checked ~ .tabContent-container {
    transform: translateX(0);
}

.radioInput:nth-of-type(1):checked ~ .tabHeader-container .tabHeader:nth-of-type(1) {
    color: #091b34;
}

.radioInput:nth-of-type(1):checked ~ .activeTab-indicator {
    transform: translateX(0);
}

.radioInput:nth-of-type(2):checked ~ .tabContent-container {
    transform: translateX(-100%);
}

.radioInput:nth-of-type(2):checked ~ .tabHeader-container .tabHeader:nth-of-type(2) {
    color: #091b34;
}

.radioInput:nth-of-type(2):checked ~ .activeTab-indicator {
    transform: translateX(100%);
}

.radioInput:nth-of-type(3):checked ~ .tabContent-container {
    transform: translateX(-200%);
}

.radioInput:nth-of-type(3):checked ~ .tabHeader-container .tabHeader:nth-of-type(3) {
    color: #091b34;
}

.radioInput:nth-of-type(3):checked ~ .activeTab-indicator {
    transform: translateX(200%);
}

/**/
.radioInput:nth-of-type(4):checked ~ .tabContent-container {
    transform: translateX(-300%);
}

.radioInput:nth-of-type(4):checked ~ .tabHeader-container .tabHeader:nth-of-type(4) {
    color: #091b34;
}

.radioInput:nth-of-type(4):checked ~ .activeTab-indicator {
    transform: translateX(300%);
}

.accordion {
    background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-weight: 400;
}

.panel {
    padding: 0 5px;
    display: none;
    background-color: white;
    overflow: hidden;
    background-color: #FFF;
}

.panel ul {
    padding-inline-start: 10px;
}

.sidenav a {
    color: #000;
    display: block;
    text-align: left;
    text-decoration: none;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
}

.sidenav a:hover {
    color: #6f6f6e;
}

ul {
    list-style-type: none;
}

button:focus {
    outline: 0px dotted;
    outline: 0px;
}

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 300;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    background-color: #FFF;
    overflow-y: hidden;
    transition: 0.3s;
}

div#search-overlay-nav {
    height: 100%;
    width: 0;
}

div#carrito-overlay-nav {
    height: 100%;
    width: 0;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #091b34;
    display: block;
    transition: 0.3s;
}

.overlay .btn {
    color: #ffffff !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    right: 30px;
    font-size: 50px;
}

@media screen and (max-height:450px) {
    .overlay {
        overflow-y: auto;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

div#header-menu-brand {
    font-family: 'Nunito', sans-serif !important;
    line-height: 1.42857143;
    color: #000;
    font-variant-ligatures: no-common-ligatures !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 12px;
    z-index: 1100;
    display: table;
    position: absolute;
    box-sizing: border-box;
    width: auto;
    height: 70px;
    text-align: center;
}

svg.ebx-search-icon.ebx-icon.ebx-icon--filled {
    width: 10%;
    color: #091b34;
}

.ebx-search-box__inputs-wrapper {
    color: #000;
    font-variant-ligatures: no-common-ligatures !important;
    line-height: 1.15;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito', sans-serif !important;
    -webkit-box-direction: normal;
    font-size: 20px;
    box-sizing: inherit;
    outline: none !important;
    position: relative;
    z-index: 0;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
}

input.ebx-search-box__input.ebx-search-box__input-query {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-direction: normal;
    color: inherit;
    font: inherit;
    outline: none !important;
    background: rgba(0, 0, 0, 0);
    border: none;
    width: 300px;
    box-sizing: content-box;
    margin: 0;
    overflow: visible;
    outline-offset: -2px;
    -webkit-appearance: none;
    font-family: 'Nunito', sans-serif !important;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    padding: 0;
    margin-left: 14px;
    border-bottom: 3px solid #eaeaea;
}

.search-box button.btn.btn-primary.btn-sm.ng-binding.ng-isolate-scope {
    width: 80%;
}

.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #b99d6b;
}

nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    font-size: 16px;
}

nav .navbar-left {
    float: left;
}

nav .navbar-right {
    float: right;
}

nav ul li {
    display: inline;
    padding-left: 20px;
}

nav ul li a {
    color: #777777;
    text-decoration: none;
}

nav ul li a:hover {
    color: black;
}

.badge {
    background-color: #b99d6b;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    padding: 3px 4px;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
    position: absolute;
    margin-top: 5px;
}

.shopping-cart {
    margin: 0 auto;
    background: white;
    position: relative;
    margin-top: 15px;
    border: 3px #eee solid;
}

.shopping-cart .shopping-cart-header {
    border-bottom: 1px solid #b99d6b;
    padding-bottom: 15px;
}

.shopping-cart .shopping-cart-header .shopping-cart-total {
    float: right;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
    text-align: left;
    border-bottom: 3px solid #eee;
    height: 70vh !important;
    overflow-y: auto !important;
}

.shopping-cart .shopping-cart-items li {
    margin-bottom: 18px;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.shopping-cart .shopping-cart-items .item-price {
    color: #000;
    margin-right: 8px;
}

.shopping-cart .shopping-cart-items .item-quantity {
    color: #ABB0BE;
}

.shopping-cart-total {
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif !important;
    letter-spacing: 0.03em;
}

.shopping-cart:after {
    left: 89%;
    border: solid #eee 3px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

.cart-icon {
    color: #515783;
    font-size: 24px;
    margin-right: 7px;
    float: left;
}

.button {
    background: #6394F8;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 16px;
    margin: 25px 0 15px 0;
}

.button:hover {
    background: #729ef9;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

button.btn.btn-primary.btn-sm.ng-binding.ng-isolate-scope {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    min-height: 0;
    touch-action: manipulation;
    user-select: none;
    line-height: 1;
    border-radius: 0;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    color: #fff;
    background-color: #b99d6b;
    border-color: #b99d6b;
    font-size: 15px;
    padding: 13px 15px;
    width: 100%;
}

.ebx-search-box__inputs-wrapper {
    margin-top: 20px;
}

.shopping-cart-header {
    text-align: left;
}

.ma-modal-header.text-center {
    font-family: 'Nunito', sans-serif !important;
    font-size: 11px;
    line-height: 1.42857143;
    color: #000;
    font-variant-ligatures: no-common-ligatures !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    text-align: center;
}

input.form-control.ng-pristine.ng-untouched.ng-empty.ng-invalid.ng-invalid-required {
    min-width: 250px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 3px;
    padding: 0;
    color: #000;
    -webkit-appearance: none;
    font-size: 14px;
    height: 45px;
}

.form-group.has-feedback {
    padding-top: 10px;
    padding-bottom: 10px;
}

button.btn.btn-primary.btn-sm.ng-binding.ng-isolate-scope {
    max-width: 80%;
}

.navbar {
    overflow: hidden;
    font-family: 'Nunito', sans-serif !important;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 500;
}

.dropdown-content .header {
    padding: 16px;
    color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.column {
    border-top: 1px solid #cccccc80;
    float: left;
    margin-top: 5px;
}

.column20 {
    width: calc(20% - 20px);
}

.column25 {
    width: calc(25% - 20px);
}

.column33 {
    width: calc(33% - 20px);
}

.column50 {
    width: calc(50% - 20px);
}

.column75 {
    width: calc(75% - 20px);
}

.column100 {
    width: calc(100% - 20px);
}

.column a {
    text-transform: none;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    z-index: 1100;
    line-height: 18px;
    float: left;
    text-align: left;
    color: #9c9b9b;
    padding: 0;
    padding-left: 0px;
    display: table;
    width: 100%;
    transition: opacity .3s ease;
    font-size: 14px;
    height: 25px;
    padding-bottom: 12px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
}

.column h3 {
    text-transform: none;
    list-style: none;
    box-sizing: border-box;
    margin-top: 10px;
    color: black;
    padding: 12px 0px 0px 0px;
    padding-left: 0px;
    margin-bottom: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    width: auto;
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    float: none;
    left: 0;
}

.column h3 {
    text-transform: uppercase;
    letter-spacing: 0.03px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .03rem;
    color: #6f6f6e;
}

.column a:hover {
    color: #091b34;
    opacity: 0.8;
}

.column a {
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.03px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

button.dropbtn.vcool-link.cool-link-primary {
    padding: 5px 8px;
    font-size: 1.45em;
    color: #091b34;
    text-decoration: none;
    letter-spacing: 0.05rem;
}

div#megamenu-mujer {
    width: 70%;
    width: 70%;
    margin: 0px;
    margin-top: 30px;
}

div#megamenu-hombre {
    width: 70%;
    width: 70%;
    margin: 0px;
    margin-top: 30px;
}

div#megamenu-outlet {
    width: 70%;
    width: 70%;
    margin: 0px;
    margin-top: 30px;
}

.menu-wraper {
    float: left;
    margin-top: 5px;
    padding-left: 30px;
    padding-bottom: 10px;
    width: 750px;
}

.overlay-content {
    border-top: 1px solid #cccccc80;
}

div.overlay.g-hidden-sm-down {
    padding-top: 30px;
}

.menu-wraper a h3 {
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 0px;
    padding: 12px 0px 0px 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .03rem;
    color: #6f6f6e;
}

.menu-wraper a {
    color: aqua;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    z-index: 1100;
    line-height: 18px;
    float: left;
    text-align: left;
    color: #9c9b9b;
    padding: 0;
    padding-left: 0px;
    display: table;
    width: 100%;
    transition: opacity .3s ease;
    height: 25px;
    padding-bottom: 12px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.03px;
}

.menu-wraper a:hover,
a:active,
a:focus {
    color: #091b34;
    opacity: 0.8;
}

.menu-wraper a:hover h3 {
    color: #091b34;
    opacity: 0.8;
}

.div#megamenu-mujer {
    margin: 0px;
}

div#search-overlay-nav .overlay-content {
    border-top: 0px;
}

div#cart-overlay-nav .overlay-content {
    border-top: 0px;
    margin-top: 16%;
    background-color: transparent;
}

div#cart-overlay-nav.overlay {
    width: 430px;
    top: 0;
    right: 0;
    left: auto;
    padding: 15px;
}

div#cart-overlay-nav {
    background: transparent;
}

#cart-overlay-nav a.closebtn {
    padding: 0px;
    margin: 0px;
    right: 45px;
    top: -15px;
    cursor: pointer;
    font-size: 40px;
}

.shopping-cart {
    border: none;
    margin: 0 auto;
    background: white;
    position: relative;
    border-radius: 0px;
    margin-top: 55px;
    border: 3px #eee solid;
}

.lrg-logo {
    width: 160px;
    height: 50px;
    text-align: center;
    background-image: url(../../img/logo/logo-muletta-header.png);
    background-repeat: no-repeat;
    background-size: 160px auto;
    background-position-y: center;
    background-position-x: center;
}

.sml-logo {
    width: 160px;
    height: 65px;
    text-align: center;
    background-image: url(../../img/logo/logo-muletta-xs.png);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position-y: center;
    background-position-x: center;
}

.svg-inline--fa {
    height: 0.7em;
}

.container.mb-5.search-box.g-max-width-445 {
    margin-top: 90px;
}

@media (min-width:1281px) {
    div#header-menu-brand {
        left: 45%;
    }

    .ma-header-right {
        right: 60px;
    }
}

@media (min-width:1025px) and (max-width:1280px) {
    div#header-menu-brand {
        left: 45%;
    }

    .ma-header-right {
        right: 60px;
    }
}

@media (min-width:801px) and (max-width:1024px) {
    .menu-toggle img {
        width: 25px;
    }

    .lrg-logo {
        background-position-x: left;
    }

    .sml-logo {
        background-position-x: left;
    }

    .ma-header-left {
        left: 0px;
    }

    div#header-menu-brand {
        left: 50%;
    }

    .ma-header-right {
        right: 40px;
    }

    .ma-header-left a {
        padding: 25px 20px 15px 0px;
    }

    .ma-header-right a {
        padding: 5px 20px 15px 0px;
    }

    #text-logo {
        display: none;
    }

    #icon-logo {
        opacity: 1;
        display: inline-block
    }

    #top-nav-header {
        background-color: white;
    }

    .ma-header-left {
        margin-top: 0px;
    }

    div#header-menu-brand {
        height: 55px;
    }
}

@media(min-width:768px) and (max-width:800px) {
    .menu-toggle img {
        width: 25px;
    }

    .lrg-logo {
        width: 130px;
        background-position-x: center;
        background-size: 130px 17px;
        margin-left: 12px;
    }

    .sml-logo {
        background-position-x: center;
    }

    div#header-menu-brand {
        left: 45%;
    }

    .ma-header-right {
        right: 40px;
    }

    .ma-header-right a {
        padding: 5px 30px 15px 0px;
    }

    #text-logo {
        display: none;
    }

    #icon-logo {
        opacity: 1;
        display: inline-block
    }

    #top-nav-header {
        background-color: white;
    }

    .ma-header-left {
        margin-top: 0px;
    }

    div#header-menu-brand {
        height: 55px;
    }

    .ma-header-left {
        left: 0px;
        margin-right: 0px;
    }

    .ma-header-left a {
        padding: 25px 15px 15px 0px;
    }
}

@media (min-width:481px) and (max-width:767px) {
    .menu-toggle img {
        width: 25px;
    }

    .lrg-logo {
        background-position-x: left;
    }

    .sml-logo {
        background-position-x: left;
    }

    div#header-menu-brand {
        left: 5%;
    }

    .ma-header-right {
        right: 40px;
    }

    .ma-header-right a {
        padding: 5px 30px 15px 0px;
    }

    #text-logo {
        display: none;
    }

    #icon-logo {
        opacity: 1;
        display: inline-block
    }

    #top-nav-header {
        background-color: white;
    }

    .ma-header-left {
        margin-top: 0px;
    }

    div#header-menu-brand {
        height: 55px;
    }

    div#megamenu-outlet {
        margin: 0px auto;
        max-width: 50%;
    }
}

@media (min-width:320px) and (max-width:480px) {
    .menu-toggle img {
        width: 25px;
    }

    .lrg-logo {
        width: 120px;
        background-position-x: left;
        background-size: 120px auto;
    }

    .sml-logo {
        background-position-x: left;
        background-size: 18px auto;
        height: 60px;
    }

    img#text-logo {
        display: none;
    }

    div#header-menu-brand {
        left: 5%;
    }

    .tabHeader {
        padding: 10px 10px;
    }

    .shopping-cart {
        padding: 10px;
        margin: 0px;
        margin-top: 30px;
        margin-right: 40px;
    }

    .shopping-cart .shopping-cart-items {
        padding-top: 20px;
        padding-left: 5px;
    }

    .shopping-cart .shopping-cart-items li {
        text-align: left;
    }

    .ma-header-right {
        margin-top: 20px;
        padding-left: 10px;
        margin-bottom: 0px;
    }

    /*.menu{top:35px;}*/
    div#megamenu-outlet {
        margin: 0px auto;
    }
}

.box-resultados {
    margin-top: 0px !important;
    padding: 3px !important;
    height: 61px !important;
}

.img-resultados {
    width: 61px !important;
    float: left !important;
}

button.accordion {
    text-transform: uppercase;
    font-size: 14px;
}

button.accordion.active {
    text-transform: uppercase;
    font-size: 14px;
}

a.liga-acordeon-titulo {
    text-transform: uppercase;
    font-size: 14px;
}

div#mySidenav ul li a {
    font-size: 14px;
}

.container.scrolling-box {
    display: block;
    width: 390px;
    height: 890px;
    padding: 1em;
    overflow-y: scroll;
    text-align: center;
}

p.g-color-muletta-gray-theme.muletta-tittle-featured-products.g-mt-70--md {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

p.g-color-muletta-gray-theme.muletta-price-featured-products {
    text-align: center;
    font-size: 17px;
    padding-left: 25px;
}

.modal-content .modal-header {
    padding-bottom: 0px;
    padding-top: 5px;
}

.header-wrap {
    margin: 0 auto;
    z-index: 900;
}

button.accordion {
    background-color: #FAFAFA;
}

#mySidenav div div div div.panel {
    background-color: #FAFAFA;
}
