table{
    border-color: transparent !important;
}
.text-danger{
    color: red;
}

.division{
    border-bottom: 1px #cecece solid;
}

h4{
    font-size: 16px !important;
    color:#8a8a8a;
}
.linea{
    background-color: #8a8a8a;
    height: 10px;
}

.page-break {
    page-break-after: always;
}