/*------------------------------------
  Index 
------------------------------------*/
/*path {
    fill: #091b34;
}*/

.u-btn-primary:hover, .u-btn-primary.active {
    border-color: #091b34;
    background-color: #091b34;
}

.g-brd-primary--hover:hover, .g-brd-primary--active.active {
    border-color: #091b34!important;
}
/*login*/
.u-btn-facebook {
    color: #3b5998;
    background-color: #fff;
    border-color: #3b5998;
}

.u-btn-google-plus {
     color: #dd4b39;
    background-color: #fff;
    border-color: #dd4b39;
}

.g-brd-gray-light-v3 {
    border-color: #9c9b9b!important;
}
.g-brd-gray-light-v4 {
    border-color: #9c9b9b !important;
}
.g-max-width-445{
    max-width: 445px;
}
a.g-color-white--hover {
    text-decoration: none;
}
.text-left.desc {
    padding: 0px 30px;
}

input.form-control.g-color-black.g-bg-white.g-bg-white--focus.g-py-15.g-px-15 {
    
    border-color: #fff;
    border-bottom: 2px #ccc solid;
}

.g-max-width-445.text-center.rounded.mx-auto.g-pa-20 {
    border: 2px #ccc solid;
}
label.form-check-inline.u-check.g-pl-25 {
    color: #999;
}