
.sidenab {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 17%;
    left: 1%;
    overflow-x: hidden;
    padding: 8px 0;
    background-color: #fff;
    height: 600px;
}

.sidenab a {
    display: block;
}

.main_custom {
    margin-left: 220px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.sidenab.margin-top.g-hidden-md-down-v2 button.accordion {
    background-color: #fff;
}

div#sidebar-cat button.accordion.active {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
div#sidebar-cat ul li a {
    padding-left: 10px;
}