/** Green	#4b5354
			#5a6667
 **************************************************************** **/
 ::selection {
    background: #e0cc00 !important;
}
::-moz-selection {
    background: #e0cc00 !important; /* Firefox */
}
::-webkit-selection {
    background: #e0cc00 !important; /* Safari */
}

#aside nav ul li a:active,
#aside nav ul li.menu-open,
#aside nav ul li.always-open,
.fancy-file-upload.fancy-file-primary>span.button,
.datepicker table tr td.active.active,
.btn-primary,
#header,

/*.toast-primary,*/
.popular .plan-title,
body.min #aside ul.nav>li>ul li,
body.min #aside ul.nav li.menu-open,
#aside nav ul li a.dashboard,
#aside,
body.min #asidesize,
#aside, #asidebg {
    background-color: #5a6667 !important;
}
/*.toast-primary,*/
body.min #aside ul.nav>li:hover>ul,
body.min #aside ul.nav>li:hover>a span,
#aside nav>ul>li>a:hover,
#aside nav>ul>li>a:focus,
#aside nav ul li.active{
    background-color: #e0cc00 !important;
}
body.min #aside ul.nav>li:hover:before {
    border-right-color: #e0cc00 !important;
}

.panel>.panel-heading strong {
    color:#5a6667 !important;
}

.btn-primary {
    border-color:#e0cc00 !important;
}

.popular {
    border-color:#e0cc00 !important;
}

/**
    IMPORTANT
**/
.btn-primary,
.alert-theme-color,
.panel-primary>.panel-heading {
    background-color: #e0cc00 !important;
}
.panel-primary,
.panel-primary>.panel-heading {
    border-color: #e0cc00 !important;
}