@charset "UTF-8";
header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 27px 6vh;
    grid-template-areas: "logo logo logo"
                         "menu menu botones";
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.hr-header-mobile {
    color: #9c9b9b; 
    margin-top: 0rem; 
    margin-bottom: 1rem;
}

.h3-header-mobile {
    font-size: 18px; 
    color: #6f6f6e;
}

#header-menu-navbar-links-left{
    grid-area: menu;
}

#header-menu-brand{
    grid-area: logo;
    justify-self: center;
}

#header-menu-text-tools{
    grid-area: botones;
    justify-self: end;
    align-self: flex-end;
    padding-right: 40px;
    padding-bottom: 5px;
}

.menu-toggle img {
    width: 30px;
}

ul {
    list-style-type: none;
}

.lrg-logo {
    width: 160px;
    height: 50px;
    text-align: center;
    background-image: url(../../../img/logo/logo-muletta-header.png);
    background-repeat: no-repeat;
    background-size: 160px auto;
}

.sml-logo {
    width: 160px;
    height: 65px;
    text-align: center;
    background-image: url(../../../img/logo/logo-muletta-xs.png);
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
}

#header-menu-icon-tools{
    display: none;
}

a:hover,
a:active,
a:hover,
a:active,
a:focus {
    color: #091b34;
}

a::after {
    line-height: 2px;
}

a.cool-link.active {
    color: #091b34;
}

#mujer-mega-menu a {
    padding: 25px 30px 15px 0px;
    font-size: 15px;
    color: #6f6f6e;
    text-decoration: none;
    letter-spacing: 0.05px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all .3s ease;
    display: block;
    line-height: 18px;
    list-style: none;
    width: auto;
    text-align: center;
}

#mujer-mega-menu a {
    color: #6f6f6e;
}

#mujer-mega-menu a:hover {
    color: #091b34;
}

.cool-link {
    display: inline-block;
    color: #091b34;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #091b34;
    transition: width .5s;
}

.cool-link:hover::after {
    max-width: 100%;
}

.overlay-content{
    background-color: white !important;
    max-width: 100% !important;
}

.menu-wraper-mobile {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "div1 div2"
                         "div3 div5"
                         "div4 div5"
                         "div6 div7";
    grid-auto-rows: auto;
    grid-gap: 10x;
}

.overlay .closebtn {
    position: absolute;
    right: 30px;
    font-size: 50px;
    z-index: 1;
}

.menu-wraper a h3 {
    font-size: 14px;
    box-sizing: border-box;
    margin-top: 0px;
    padding: 12px 0px 0px 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .03rem;
    color: #6f6f6e;
}

.menu-wraper a {
    color: aqua;
    outline: none;
    list-style: none;
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    position: relative;
    z-index: 1100;
    line-height: 18px;
    float: left;
    text-align: left;
    color: #9c9b9b;
    padding: 0;
    padding-left: 0px;
    display: table;
    width: 100%;
    transition: opacity .3s ease;
    height: 25px;
    padding-bottom: 12px;
    font-family: 'Nunito', sans-serif !important;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 14px;
    letter-spacing: 0.03px;
}

.menu-wraper a:hover,
a:active,
a:focus {
    color: #091b34;
    opacity: 0.8;
}

.menu-wraper a:hover h3 {
    color: #091b34;
    opacity: 0.8;
}

.badge {
    background-color: #b99d6b;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 10px;
    line-height: 1;
    padding: 3px 4px;
    text-align: left;
    vertical-align: bottom;
    white-space: nowrap;
    position: absolute;
    margin-top: 5px;
}

.menu-toggle {
    color: #091b34;
}

#carrito-overlay-nav, #search-overlay-nav{
    justify-self: flex-end;
    text-align: center;
}
#carrito-overlay-nav .overlay-content, #search-overlay-nav .overlay-content{
    width: 432px;
    height: 100vh;
    padding-top: 15px;
    position: sticky;
    top: 0;
    padding: 9px;
}

.container.mb-5.search-box.g-max-width-445 {
    margin-top: 90px;
}

.container.mb-5.search-box.g-max-width-445 {
    border: #eee solid 3px;
    padding: 20px;
    padding-bottom: 35px;
}

.search-box button.btn.btn-primary.btn-sm.ng-binding.ng-isolate-scope {
    width: 80%;
}

button.btn.btn-primary.btn-sm.ng-binding.ng-isolate-scope {
    max-width: 80%;
}

button.btn.btn-primary.btn-sm.ng-binding.ng-isolate-scope {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    font: inherit;
    margin: 0;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    min-height: 0;
    touch-action: manipulation;
    user-select: none;
    line-height: 1;
    border-radius: 0;
    font-weight: normal;
    text-align: center;
    text-shadow: none;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
    color: #fff;
    background-color: #b99d6b;
    border-color: #b99d6b;
    font-size: 15px;
    padding: 13px 15px;
    width: 100%;
}

input.ebx-search-box__input.ebx-search-box__input-query {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-box-direction: normal;
    color: inherit;
    font: inherit;
    outline: none !important;
    background: rgba(0, 0, 0, 0);
    border: none;
    width: 300px;
    box-sizing: content-box;
    margin: 0;
    overflow: visible;
    outline-offset: -2px;
    -webkit-appearance: none;
    font-family: 'Nunito', sans-serif !important;
    -webkit-box-flex: 1;
    flex: 1 1 auto;
    height: 30px;
    font-size: 15px;
    line-height: 15px;
    padding: 0;
    margin-left: 14px;
    border-bottom: 3px solid #eaeaea;
}

/* CARRITO */
.container.scrolling-box {
    display: block;
    width: 390px;
    height: 770px;
    padding: 1em;
    overflow-y: scroll;
    text-align: center;
}

.shopping-cart {
    margin: 0 auto;
    background: white;
    position: relative;
    border-radius: 0px;
    margin-top: 26px;
    border: 3px #eee solid;
}

.shopping-cart:after {
    left: 89%;
    border: solid #eee 3px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: white;
    border-width: 8px;
    margin-left: -8px;
}

#carrito-overlay-nav .closebtn {
    top: -2px;
}

.shopping-cart .shopping-cart-items {
    padding-top: 20px;
    text-align: left;
    border-bottom: 3px solid #eee;
    height: 60vh !important;
    overflow-y: auto !important;
}

.shopping-cart-total {
    font-size: 1.1em;
    font-family: 'Nunito', sans-serif !important;
    letter-spacing: 0.03em;
}

.overlay .btn {
    color: #ffffff !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.shopping-cart .shopping-cart-items img {
    float: left;
    margin-right: 12px;
}

.shopping-cart .shopping-cart-items .item-name {
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

/* MENU CATALOGO */
.accordion {
    background-color: #FFF;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-weight: 400;
}
.panel {
    padding: 0 5px;
    display: none;
    background-color: white;
    overflow: hidden;
    background-color: #FFF;
}
.panel ul {
    padding-inline-start: 10px;
}

button.accordion {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
button.accordion.active {
    text-transform: uppercase;
    font-size: 14px;
}

button:focus {
    outline: 0px dotted;
    outline: 0px;
}

/* BUTTON MOVIL */
#ham-mid {
    width: 30%;
}

.menu {
    position: absolute;
    top: 21px;
    left: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 45px;
    height: 10px;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 200;
}

.menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: #091b34;
    float: left;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;
}

.menu span:nth-of-type(1) {
    transform: translateY(-5px);
}

.menu span:nth-of-type(3) {
    transform: translateY(5px);
}

#menu {
    display: none;
}

#menu:checked ~ .menu {
    background-color: transparent;
    transition: transform 250ms ease;
}

#menu:checked ~ .menu span {
    transition: transform 250ms ease;
}

#menu:checked ~ .menu span:nth-of-type(1) {
    transform: translateY(1px) rotate(45deg);
}

#menu:checked ~ .menu span:nth-of-type(2) {
    display: none;
}

#menu:checked ~ .menu span:nth-of-type(3) {
    transform: translateY(-1px) rotate(-45deg);
}

#menu:checked ~ nav {
    background-color: red;
    right: 0px;
    transition: left 500ms ease;
}

input[type=checkbox]:checked ~ #menu {
    background-color: red;
    right: 0px;
    transition: left 500ms ease;
}

#menu:checked ~ main {
    transform: translateX(0px);
    transition: transform 500ms ease;
}

.sticky-logo {
    opacity: 0;
}

/* MENU MOVIL */
.sidenav{
    background-color: white;
}

.sidenav a {
    padding: 8px 0px 8px 0px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    color: #000;
    text-align: left;
    width: 100%;
    line-height: 16px;
    font-size: 16px;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.liga-acordeon-titulo {
    box-sizing: border-box;
    border-radius: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif !important;
    line-height: inherit;
    overflow: visible;
    text-transform: none;
    background-color: #FAFAFA;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
    letter-spacing: 0.5px;
    font-weight: bold;
    margin-left: 5px;
    margin-top: 0px;
}

a.liga-acordeon-titulo {
    text-transform: uppercase;
    font-size: 14px;
}

.hamburger_wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.hamburger_wrapper header {
    background: #FAFAFA;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.hamburger_wrapper header nav {
    display: flex;
    position: relative;
}

.hamburger_wrapper header nav .tab {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger_wrapper header .block {
    letter-spacing: 0.11px;
    border-radius: 0px;
    cursor: pointer;
    color: #000;
    line-height: 1.4;
    list-style: none;
    z-index: 100;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
    padding: 17px 12px;
    transition: opacity .3s ease;
    opacity: 1;
}

.tab1.active ~ .indicator {
    left: 0;
}

.hamburger_wrapper header nav .indicator {
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #091b34;
    transition: 0.3s ease;
}

.hamburger_wrapper main {
    flex: 1;
    width: 300%;
    height: 100%;
}

.hamburger_wrapper main .tab_reel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.5s cubic-bezier(0.18, 1.14, 0.5, 1.18);
}

.hamburger_wrapper main .tab_reel .tab_panel1,
.phone_wrapper main .tab_reel .tab_panel2 {
    width: 33%;
    padding: 0px;
}

.hamburger_wrapper main .tab_reel .tab_panel1,
.phone_wrapper main .tab_reel .tab_panel3 {
    width: 33%;
    padding: 0px;
}

.tab1.active ~ .indicator {
    left: 1%;
}

.tab2.active ~ .indicator {
    left: 33%;
}

.tab3.active ~ .indicator {
    left: 66%;
}

button.accordion {
    font-weight: bold;
}

.tab.tab1.active {
    font-weight: 700;
}

.tab.tab2.active {
    font-weight: 700;
}

.tab.tab3.active {
    font-weight: 700;
}

.sidenav-container {
    overflow-x: hidden;
    color: #091b34;
    font-size: 1.15rem;
    display: flex;
    flex-direction: column;
    background: #FAFAFA;
}

.activeTab-indicator {
    display: inline-block;
    height: 2px;
    width: 100%;
    background-color: #091b34;
    transition: transform 0.4s ease-out;
}

.tabHeader-container {
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
}

.tabContent-container {
    display: flex;
    transition: transform 0.4s ease-out;
}

.tabHeader {
    cursor: pointer;
    color: #6f6f6e;
    transition: color 0.4s ease;
    padding: 10px 15px;
    flex-grow: 1;
    text-align: center;
}

.tabContent {
    width: 100%;
    flex-shrink: 0;
    padding: 15px 20px;
    box-sizing: border-box;
    background: #FAFAFA;
}

.tabContent h1 {
    margin: 0;
}

.radioInput:nth-of-type(1):checked ~ .tabContent-container {
    transform: translateX(0);
}

.radioInput:nth-of-type(1):checked ~ .tabHeader-container .tabHeader:nth-of-type(1) {
    color: #091b34;
}

.radioInput:nth-of-type(1):checked ~ .activeTab-indicator {
    transform: translateX(0);
}

.radioInput:nth-of-type(2):checked ~ .tabContent-container {
    transform: translateX(-100%);
}

.radioInput:nth-of-type(2):checked ~ .tabHeader-container .tabHeader:nth-of-type(2) {
    color: #091b34;
}

.radioInput:nth-of-type(2):checked ~ .activeTab-indicator {
    transform: translateX(100%);
}

.radioInput:nth-of-type(3):checked ~ .tabContent-container {
    transform: translateX(-200%);
}

.radioInput:nth-of-type(3):checked ~ .tabHeader-container .tabHeader:nth-of-type(3) {
    color: #091b34;
}

.radioInput:nth-of-type(3):checked ~ .activeTab-indicator {
    transform: translateX(200%);
}

/**/
.radioInput:nth-of-type(4):checked ~ .tabContent-container {
    transform: translateX(-300%);
}

.radioInput:nth-of-type(4):checked ~ .tabHeader-container .tabHeader:nth-of-type(4) {
    color: #091b34;
}

.radioInput:nth-of-type(4):checked ~ .activeTab-indicator {
    transform: translateX(300%);
}

@media (max-width: 768px) {
    header{
        grid-template-areas: "menu logo botones";
        grid-template-rows: auto;
    }

    #header-menu-brand{
        padding-left: 40px;
        justify-self: left;
    }

    #nav_menu{
        display: none;
    }

    #header-menu-text-tools{
        align-self: center;
        padding-bottom: 0;
        padding-right: 30px;
    }

    #header-menu-icon-tools{
        display: block;
    }
}

@media (max-width: 782px){
    #mujer-mega-menu a {
        padding: 25px 27px 15px 0px;
    }
}

@media (max-width: 480px){
    header {
        grid-template-columns: 59px auto auto;
        grid-template-rows: auto;
    }

    .lrg-logo {
        width: 120px;
        background-size: 120px auto;
        background-position: center;
    }

    .col-buscar{
        padding-left: 10px !important;
        padding-right: 0px !important;
    }
    .col-user{
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
    .col-carrito{
        padding-left: 0 !important;
    }
    .col-movil{
        padding-left: 0 !important;
        padding-right: 30px !important;
    }
}

@media screen and (max-height:450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

@media (max-width: 425px){
    .tabHeader {
        padding: 10px 12px;
    }
}

@media (max-width:420px) {
    #header-menu-text-tools {
        padding-right: 8px;
    }
}

@media (max-width: 391px){
    #header-menu-text-tools {
        padding-right: 7px;
    }

    #header-menu-text-tools .row {
        margin-right: 0px;
        margin-left: -12px;
    }
}

@media (max-width: 380px){
    #header-menu-brand {
        padding-left: 10px !important;
    }

    #header-menu-text-tools {
        padding-right: 20px !important;
    }

    .tabHeader {
        font-size: 13px;
    }
}


@media (max-width: 362px){
    #header-menu-text-tools .row {
        margin-left: -44px;
    }
}

@media (max-width: 320px){
    header {
        grid-template-columns: 90px auto;
    }

    #header-menu-brand {
        padding-left: 0px !important;
        margin-left: -31px;
    }
    
    .lrg-logo {
        width: 90px;
        background-size: 90px auto;
    }
}

@media (max-width: 1440px) {
    .menu-wraper {
        grid-column-gap: 45px;
    }
}
@media (max-width: 1024px) {
    .menu-wraper {
        grid-column-gap: 10px;
    }
}