html{font-size:14px;}
body{font-weight:400;font-size:1rem;font-family:'Nunito Sans', sans-serif;line-height:1.6;color:#555;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-moz-font-feature-settings:"liga", "kern";text-rendering:optimizelegibility;background-color:#fff;}
a{color:#6f6f6e;outline:none;}
a:focus,
a:hover{color:#b78b1e;}
.nav-link{color:#555;}
.nav-link:focus,
.nav-link:hover{color:#555;}
figure{margin-bottom:0;}
.h1, .h2, .h3, .h4, .h5, .h6, .h7,
h1, h2, h3, h4, h5, h6{line-height:1.4;}
.h7{font-size:.75rem;}
.display-5{font-size:3rem;font-weight:300;line-height:1.1;}
::-moz-selection{color:#fff;background-color:#b78b1e;}
::selection{color:#fff;background-color:#b78b1e;}
.g-bg-primary::-moz-selection{color:#b78b1e;background-color:#fff;}
.g-bg-primary::selection{color:#b78b1e;background-color:#fff;}